{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-expand bg-success flex-column flex-md-row bd-navbar">
    <a href="/AnimalPerformance">
      <button type="button" class="btn btn-success" aria-label="Left Align">
        INICIO
      </button>
    </a>
    <div class="collapse  navbar-collapse flex-column flex-md-row bd-navbar" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li role="presentation" >
          <a href="/AnimalPerformance/listarLt">
            <button type="button" class="btn btn-success">
              LOTES
            </button>
          </a>
        </li>
        <li role="presentation" >
          <a href="/AnimalPerformance/listarA">
            <button type="button" class="btn btn-success">
              ANIMALES
            </button>
          </a>
        </li>
        <li role="presentation" >
          <a href="/AnimalPerformance/listarP">
            <button type="button" class="btn btn-success">
              PRODUCTOS
            </button>
          </a>
        </li>
        <li role="presentation" >
          <a href="/AnimalPerformance/listarR">
            <button type="button" class="btn btn-success">
              RENDIMIENTOS
            </button>
          </a>
        </li>
      </ul>
    </div>
    <a href="/AnimalPerformance/logout">
      <button type="button" class="btn btn-success d-lg-inline-block mb-2 mb-md-0 ml-md-2 col ml-auto ">
        <strong> {{ user.get_username }}</strong> SALIR
      </button>
    </a>
    {% else %}
    <a href="/AnimalPerformance/login">
      <button type="button" class="btn btn-success">
        <strong>{{ user.get_uername }}</strong> | LOGIN
      </button>
    </a>
    {% endif %}
  </nav>
</body>
</html>
