<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal</title>
      <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
  {% extends "master.html" %}
  {% block contenido %}
    
      <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <table class="table-responsive">
             <tr class="info">{{fa}}</tr>
           </table>
           <a href="/AnimalPerformance/ingresarA">
            <button type="submit" class="btn btn-info" aria-label="Left Align">
              <h5><p>AGREGAR  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></p></h5>
            </button>
          </a>
           <a href="/AnimalPerformance/ingresarLt">
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <h5><p>SIGUIENTE  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></p></h5>
             
            </button>
          </a>
        </form>
      </div>
  {% endblock %}
</body>
</html>
