{% extends "master.html" %}
{% block contenido %}
  <div class="form-group">
     <form action="" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <table class="table table-striped table-bordered table-hover">
        <thead>

            <tr>
              <th>Proveedor</th>
              <th>Peso del Lote KG</th>
              <th>Precio de costo KG</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{flt.nombre_proveedor}}</td>
            <td>{{flt.peso_lote}}</td>
            <td>{{flt.precio_costo}}</td>
          </tr>
        </tbody>
        </table>

         <button type="submit" class="btn btn-success" aria-label="Left Align">
           GUARDAR
         </button>
         
      <!-- | -->
      <!-- <a href="/AnimalPerformance/ingresarR/">
        <button type="submit" class="btn btn-success" aria-label="Left Align">
          SIGUIENTE
        </button>
      </a> -->

    </form>
  </div>
{% endblock %}
