
{% extends "master.html" %}
{% block contenido %}
<div class="form-group">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <th>RENDIMIENTO:</th>
          <td>{{fp.rendimiento}}</td>
        </tr>
        <tr>
          <th>NOMBRE:</th>
          <td>{{fp.nombre_producto}}</td>
        </tr>
        <tr>
          <th>PRECIO DE VENTA:</th>
          <td>{{fp.precio_venta}}</td>
        </tr>
        <tr>
          <th>UNIDAD:</th>
          <td>{{fp.unidad}}</td>
        </tr>
      </tbody>
    </table>
    <a href="/AnimalPerformance/listarP/">
      <button type="submit" class="btn btn-success" aria-label="Left Align" value="Agregar">
        GUARDAR
      </button>
    </a>
    <hr>
    <a href="/AnimalPerformance/listarP/" class="float-right">
      <input type="" name="" value="Regresar" class="btn btn-success">
    </a>
  </form>
</div>
{% endblock %}
