<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Administración</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
  {% extends "master.html" %}
  {% block contenido %}
    <div>
      <table class="table-responsive">
        <tr>
          
          <td >
            <!-- <a href="/AnimalPerformance/infoP?idPelicula={{p.idPelicula}}" class="btn"> -->
             
              <br>
              <p><h1>ANIMAL PERFORMANCE</h1></p>
            </a>
          </td>
          
        </tr>
      </table>
    </div>


  {% endblock %}

</body>
</html>
