{% extends "master.html" %}
{% load static %}
{% block contenido %}
<div class="container">
  <table class ="table table-striped">
    <tr class="row">
      <th class="col-md-3">LOTE</th>
      <th class="col-md-3">NOMBRE DEL RENDIMIENTO</th>
      <th class="col-md-3">MODIFICAR / ELIMINAR</th>
      <th class="col-md-3">REGISTRAR COSTOS</th>
    </tr>
    {%for r in r %}
    <tr class="row">
      <td class="col-md-3">{{r.lote}}</td>
      <td class="col-md-3">{{r.nombre_rendimiento}}</td>
      <td class="col-md-3">
        <a href="/AnimalPerformance/modificarR?idRendimiento={{r.idRendimiento}}">
          <button type="button" class="btn" value="Modificar">
            <img src="{% static 'images/edit.png' %}" alt="" width="25" height="25">
          </button>
        </a>
        |
        <a href="/AnimalPerformance/eliminarR?idRendimiento={{r.idRendimiento}}">
          <button type="button" class="btn" value="Eliminar">
            <img src="{% static 'images/trash-bin.png' %}" alt=""  width="25" height="25">
          </button>
        </a>
      </td>
      <td>
        <a href="/AnimalPerformance/registrarPesos?idRendimiento={{r.idRendimiento}}">
          <button type="button" class="btn btn-light" aria-label="Left Align">
            <img src="{% static 'images/calculadora.png' %}" alt="" width="40" height="40">CALCULAR COSTOS
          </button>
        </a>
      </td>
    </tr>
    {%endfor%}
  </table>
  <a href="/AnimalPerformance/ingresarR">
    <button type="button" class="btn btn-success" aria-label="Left Align" value="Agregar">
      <img src="{% static 'images/add-button.png' %}" alt="" width="25" height="25">AGREGAR
    </button>
  </a>
</div>
</div>
{% endblock %}
