{% extends "master.html" %}
{% load static %}
{% block contenido %}
<div class="container">
  <table class ="table table-striped">
    <tr class="row">
      <th class="col-md-2">TOTAL DE COSTO</th>
      <th class="col-md-2">TOTAL DE LA VENTA</th>
      <th class="col-md-2">MARGEN DE UTILIDAD</th>
      <th class="col-md-2">RENDIMIENTO NETO</th>
      <th class="col-md-2">MERMA POR DESHIDRATACIÓN</th>
      <th class="col-md-2"></th>
    </tr>
    {%for r in r %}
    <tr class="row">
      <td class="col-md-2">{{r.total_costo}}</td>
      <td class="col-md-2">{{r.total_venta}}</td>
      <td class="col-md-2">{{r.margen_utilidad}}</td>
      <td class="col-md-2">{{r.rendimiento_neto}}</td>
      <td class="col-md-2">{{r.merma_deshidratacion}}</td>
      <td class="col-md-2">
        <a href="/AnimalPerformance/modificarR?idRendimiento={{r.idRendimiento}}">
          <button type="button" class="btn" value="Modificar">
            <img src="{% static 'images/edit.png' %}" alt="" width="25" height="25">
          </button>
        </a>
        |
        <a href="">
          <button type="button" class="btn" value="Eliminar">
            <img src="{% static 'images/trash-bin.png' %}" alt=""  width="25" height="25">
          </button>
        </a>
      </td>
    </tr>
    {%endfor%}
  </table>
  <a href="/AnimalPerformance/ingresarR">
    <button type="button" class="btn btn-success" aria-label="Left Align" value="Agregar">
      <p><img src="{% static 'images/add-button.png' %}" alt="" width="25" height="25">AGREGAR</p>
    </button>
  </a>
</div>
</div>
{% endblock %}
