{% extends "master.html" %}
{% block contenido %}
<div class="container">
  <table class ="table table-striped">
    <tr class="row">
      <th class="col-md-3">NOMBRE</th>
      <th class="col-md-2">PRECIO DE COSTO</th>
      <th class="col-md-3">PRECIO DE VENTA</th>
      <th class="col-md-2">UTILIDAD</th>
    </tr>
    {%for p in p %}
    <tr class="row">
      <td class="col-md-3">{{p.nombre_producto}}</td>
      <td class="col-md-2">{{p.precio_costo}}</td>
      <td class="col-md-3">{{p.precio_venta}}</td>
      <td class="col-md-2">{{p.utilidad_producto}}</td>
      <td>
        <a href="">
          <button type="button" class="btn btn-success" aria-label="Left Align" value="Modificar">
          </button>
        </a>
        |
        <a href="">
          <button type="button" class="btn btn-success" aria-label="Left Align" value="Eliminar">
          </button>
        </a>
      </td>
    </tr>
    {%endfor%}
  </table>
</div>
{% endblock %}
