{% extends "master.html" %}
{% load static %}
{% block contenido %}
<div class="container">
  <table class ="table table-striped">
    <tr class="row">
      <th class="col-md-3">PROVEEDOR</th>
      <th class="col-md-3">PRECIO DE COSTO</th>
      <th class="col-md-3">PESO DEL LOTE</th>
      <td class="col-md-3"></td>
    </tr>
    {%for lt in lt %}
    <tr class="row">
      <td class="col-md-3">{{lt.nombre_proveedor}}</td>
      <td class="col-md-3">{{lt.precio_costo}}</td>
      <td class="col-md-3">{{lt.peso_lote}}</td>
      <td class="col-md-3">
        <a href="/AnimalPerformance/modificarLt?idLoteAnimal={{lt.idLoteAnimal}}">
          <button type="button" class="btn" value="Modificar">
            <img src="{% static 'images/edit.png' %}" alt="" width="25" height="25">
          </button>
        </a>
        |
        <a href="/AnimalPerformance/eliminarLt?idLoteAnimal={{p.idLoteAnimal}}">
          <button type="button" class="btn" value="Eliminar">
            <img src="{% static 'images/trash-bin.png' %}" alt=""  width="25" height="25">
          </button>
        </a>
      </td>
    </tr>
    {%endfor%}
  </table>
  <a href="/AnimalPerformance/ingresarLt">
    <button type="button" class="btn btn-success" aria-label="Left Align" value="Agregar">
      <p><img src="{% static 'images/add-button.png' %}" alt="" width="25" height="25">AGREGAR</p>
    </button>
  </a>
</div>
{% endblock %}
