{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="  {% static  '/css/bootstrap.css'%}">
  </head>
  <body class="m-0 row justify-content-center">
    <form method="POST" class="col-auto" style="padding-top:80px;">
      {% csrf_token %}
      <div class="card row justify-content-around" style="width: 25rem; padding:60px;" >
        {% if messages %}
            <div class="row mt-3 mb-3">
                <div class="col-12">
                  {% for message in messages %}
                      <div class="alert alert-{{message.tags}}">
                          {{message}}
                      </div>
                  {% endfor %}
                </div>
            </div>
          {% endif %}
        <div class="card-body">
          <div class="row">
            <div class="card-title"><strong>Nombre de Usuario:</strong></div>
            <div class="">{{form.username}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="card-title"><strong>Contraseña:</strong></div>
            <div class="">{{form.password}}</div>
          </div>
          <hr>

          <button type="submit" class="btn btn-success" aria-label="Left Align">
            <h5><p>INGRESAR</p></h5>
          </button>
          <br> <hr>
          <a href="/AnimalPerformance/registro" class="alert alert-success"> Registrar usuario</a>
        </div>
        </div>
    </form>
  </body>
</html>
