{% extends "master.html" %}
{% block contenido %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table table-striped table-bordered table-hover">
   <thead>
       <tr>
         <th>Proveedor:</th>
         <th>Peso KG:</th>
         <th>Precio Costo:</th>
       </tr>
   </thead>
   <tbody>
     <tr>
       <td>{{flt.nombre_proveedor}}</td>
       <td>{{flt.peso_lote}}</td>
       <td>{{flt.precio_costo}}</td>
     </tr>
   </tbody>
   </table>
  <a href="/AnimalPerformance/listarLt">
     <input type="submit" name="" value="Guardar" class="btn btn-success">
  </a>
 |
 <a href="/AnimalPerformance/listarLt">
    <input type="submit" name="" value="Regresar" class="btn btn-success">
 </a>
</form>
{% endblock %}

peso_lote
precio_costo
nombre_proveedor
