
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="  {% static  '/css/bootstrap.css'%}">
</head>
<body class="m-0 row justify-content-center">
  <form method="POST" class="col-auto" style="padding-top:30px;">
    {% csrf_token %}
    <div class="card" style="width: 40rem;">
      <div class="card-body" style="padding:40px;">
        {% if messages %}
        <div class="row mt-3 mb-3">
            <div class="col-12">
              {% for message in messages %}
                  <div class="alert alert-{{message.tags}}">
                      {{message}}
                  </div>
              {% endfor %}
            </div>
        </div>
        {% endif %}
        <tr class="row">
          <td class="float-right"><a href="/AnimalPerformance/login" class="btn btn-success">
            <img src="{% static '/images/atras.png'%}" alt="" width="30" height="30"> LOGIN
          </a></td>
        </tr> <hr>
        <div class="row">
          <div class="col-md-3"><strong>Usuario:</strong></div>
          <div class="col-md-3">{{form.username}}</div>
          <div class="alert alert-light" role="alert">
            El usuario puede estar compuesto por caracteres(@/_-.), letras y números
          </div>
        </div>

        <div class="row">
          <div class="col-md-3"><strong>Clave:</strong></div>
          <div class="col-md-3">{{form.password1}}</div>
          <div class="alert alert-light" role="alert">
            La clave debe tener mínimo 8 caracteres, mínimo debe contener una mayuscula, un número y un carácter especial(@/_-.)
          </div>
        </div>

        <div class="row">
          <div class="col-md-3"><strong>Confirme su clave:</strong></div>
          <div class="col-md-3">{{form.password2}}</div>
          <div class="alert alert-light" role="alert">
            Esta clave debe coincidir con la anterior
          </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-success" aria-label="Left Align">
          <h5><p>REGISTRAR</p></h5>
        </button>
      </div>
    </div>
  </form>
</body>
</html>
